
Library/**/*
Library/

===============
Unity generated
===============
Temp/
Library/
Builds

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.pdb

*.meta

Solar_System_2.userprefs

*.sln

*.sln

*.csproj

*.csproj

*.userprefs

*.sln

Solar_System_2.userprefs

Solar_System_2.sln

Assembly-CSharp-firstpass.csproj

Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj


Temp/**/*
